
/*
	Theme Colors...
	Light Color: B8E6FF
	Medium Light: 9FDDFF
	Medium dark: 7FD2FF
	Dark color: 2C7EAA

	Event colors...
	Default: 8A98FF
	Appointment: FFC178
	Meeting: 78FFB3
	Business: 7FD5FF
*/

.calHeader{
	width:91%;
	color: #2C7EAA;
}

.dayCol{
	float:left;
    position: relative;
    width: 13%;
    padding-bottom : 13%; /* = width for a 1:1 aspect ratio */
    margin: 0 ;
	border: 1px solid #2C7EAA;
    background-position:center center;
    background-repeat:no-repeat;
    background-size:cover; 
	overflow:hidden;
	background-color: #B8E6FF;
}

.dayHeader{
	padding: 0;
	font-size:0.8em;
	background-color: #B8E6FF;
	color: #2C7EAA;
	text-align: center;
	border-bottom: 2px solid #2C7EAA;
}

.dayHeaderCell{
	padding:.25em;
}

.dayContent{
	color: #2C7EAA;
	position:absolute;
    height:90%; /* = 100% - 2*5% padding */
    width:90%; /* = 100% - 2*5% padding */
    padding: 5%;
}

.dayTable{
	display:table;
    width:100%;
    height:100%;
}
.dayCell{
	display:table-cell;
    vertical-align:top;
}

.blankday{
	background-color: #9FDDFF;
}

.lastLink{
	float:left;
	font-size:0.8em;
}

.nextLink{
	float:right;
	font-size:0.8em;
}

.clearfix{
	clear:both;
}

.moTitle{
	text-align:center;
	font-size:1em;
	font-weight: bold;
}

.lastLink:before{
	content: "≪ ";
}

.nextLink:after{
	content: " ≫";
}

.lastLink:hover, .nextLink:hover{
	cursor: pointer;
	color: #B8E6FF;
}

.calDay:hover{
	background: #9FDDFF;
	cursor: pointer;
}

.dateLabel{
	font-size:0.8em;
}

.calEvent{
	padding-top: 3px;
	font-size:0.8em;
	background: #8A98FF;
	border-radius: 3px;
	padding: 1px 2px;
}

.appointment{
	background: #FFC178;
}

.meeting{
	background: #78FFB3;
}

.business{
	background: #7FD5FF;
}

.ellipse {
    display: table;
    table-layout: fixed;
    width: 98%;
    white-space: nowrap;
}
 
.ellipse > * {
    display: table-cell;
    overflow: hidden;
    text-overflow: ellipsis;
}