
/*
	Theme Colors...
	Light Color: B8E6FF
	Medium Light: 9FDDFF
	Medium dark: 7FD2FF
	Dark color: 2C7EAA

	Event colors...
	Default: rgba(0, 153, 153, .4)
	Appointment: rgba(255, 0, 0, .4)
	Meeting: rgba(255, 116, 0, .4)
	Business: rgba(0, 204, 0, .4)
*/

.CalendarJS{
	margin:0;
	padding: 0;
/*	position: relative;*/
}

.cjs-calHeader{
	width:100%;
	color: #2C7EAA;
	margin:0;
	padding:0 0 2px 0 !important;
}

.cjs-right{
	border-right: 1px solid #7FD2FF;
	box-sizing: border-box;
}

.cjs-top{
	border-top: 1px solid #7FD2FF;
	box-sizing: border-box;
}

.cjs-left{
	border-left: 1px solid #7FD2FF;
	box-sizing: border-box;
}

.cjs-bottom{
	border-bottom: 1px solid #7FD2FF;
	box-sizing: border-box;
}

.cjs-top-left{
	border-top-left-radius: 3px;
	box-sizing: border-box;
}

.cjs-top-right{
	border-top-right-radius: 3px;
	box-sizing: border-box;
}

.cjs-bottom-left{
	border-bottom-left-radius: 3px;
	box-sizing: border-box;
}

.cjs-bottom-right{
	border-bottom-right-radius: 3px;
	box-sizing: border-box;
}

.cjs-hidden{
	display:none !important;
}

.cjs-dayCol{
	float:left;
    position: relative;
    width: 14.2857142857%;
    padding: 0% 0% 14.2857142857% 0%; /* = width for a 1:1 aspect ratio */
    margin: 0;
    background-position:center center;
    background-repeat:no-repeat;
    background-size:cover; 
	overflow:hidden;
	background-color: #B8E6FF;
	text-align: left;
}

.cjs-dayHeader{
	padding: 0;
	margin:0;
	font-size:0.8em;
	background-color: #B8E6FF;
	color: #2C7EAA;
	text-align: center;
}

.cjs-dayHeaderCell{
	padding:3px;
	margin: 0; 
}

.cjs-dayContent{
	color: #2C7EAA;
	position:absolute;
    height:90%; /* = 100% - 2*5% padding */
    width:90%; /* = 100% - 2*5% padding */
    padding: 0;
	margin:0;
}

.cjs-dayTable{
	display:table;
    width:100%;
    height:100%;
	margin: 5px;
	padding:0;
}

.cjs-dayCell{
	display:table-cell;
    vertical-align:top;
	padding:0;
	margin:0;
}

.cjs-blankday{
	background-color: #9FDDFF;
}

.cjs-lastLink{
	float:left;
	font-size:0.8em;
	margin:0;
	background: #9FDDFF;
	border-radius: 3px;
	padding: 1px 5px;
	color: #2C7EAA;
	border: 1px solid #7FD2FF;
	box-sizing: border-box;
	font-weight:600;
}

.cjs-nextLink{
	float:right;
	font-size:0.8em;
	margin:0;
	background: #9FDDFF;
	border-radius: 3px;
	padding: 1px 5px;
	color: #2C7EAA;
	border: 1px solid #7FD2FF;
	box-sizing: border-box;
	font-weight:600;
}

.cjs-clearfix{
	clear:both;
	margin:-2px 0;
	padding:1px;
	height:0;
	width:0;
	border:0;
}

.cjs-moTitle{
	text-align:center;
	font-size:1em;
	font-weight: bold;
	margin:0;
	padding:0;
}

.cjs-lastLink:hover, .cjs-nextLink:hover{
	cursor: pointer;
	color: #212121;
}

.cjs-calDay:hover{
	background: #9FDDFF;
	cursor: pointer;
}

.cjs-active{
	background: #7FD2FF;
	border-color: #B8E6FF;
}

.cjs-dateLabel{
	font-size:0.8em;
	margin:0;
	padding:0;
}

.cjs-otherEvents{
	margin:0;
	padding:0;
	float: right;
	font-size:0.7em;
	background: #7FD2FF;
	border-radius: 99px;
	padding: 1px 2px;
	color: #212121;
}

.cjs-calEvent{
	position: absolute;
	top:0px;
	left:0px;
	width:10px;
	font-size:0.7em;
	background: rgba(0, 153, 153, .4);
	border-radius: 3px;
	padding: 1px 2px;
	color: #212121;
	text-align:center;
	margin:initial;
	cursor: pointer;
	box-sizing: border-box;
}

.cjs-ellipse {
    display: table;
    table-layout: fixed;
    width: 98%;
    white-space: nowrap;
}
 
.cjs-ellipse > * {
    display: table-cell;
    overflow: hidden;
    text-overflow: ellipsis;
}

.cjs-weekRow{
	margin:0; padding:0; border:0;
	position:relative;
}